* {
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

html,
body {
  height: 100%;
}

button {
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  user-select: none;
}

/*MENU*/

.menu {
  width: inherit;
  display: flex;
  align-items: center;
  min-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 16px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0 8px 8px -8px;
  transition: box-shadow 300ms ease-in-out 0s;

  .menu-mobile-box {
    display: none;
  }

  .logo {
    .logo__wrap {
      width: 25px;
      padding: 10px;
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      justify-content: center;
    }

    .logo__wrap:hover {
      background: #eeeeee;
    }
  }

  .home {
    color: #fff;
    background: #000000;
    padding: 15px 16px;
    cursor: pointer;
    user-select: none;
    border-radius: 40px;
  }

  .create {
    position: relative;
    padding: 0 16px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    min-width: 85px;

    &:after {
      position: absolute;
      content: url("../images/dropdown-black.svg");
      right: 16px;
    }
  }

  .search-bar {
    width: 100%;
    margin: 0 8px;
    padding: 12px 35px;
    border-radius: 40px;
    outline: none;
    position: relative;
    background-color: #efefef;
    font-size: 15px;
    background-image: url("../images/search-bar.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    color: gray;
    border: 4px solid transparent;
  }

  .search-bar:hover {
    background-color: #3333;
  }

  .search-bar:focus {
    border: 4px solid #7bb5f0;
    padding: 12px 20px;
    background-image: none;
  }

  .search-bar::placeholder {
    user-select: none;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn-bell svg:focus,
.btn-search-mobile svg:focus,
.btn-drop-down svg:focus,
.btn-message svg:focus {
  fill: #111111;
}

.btn-container button {
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  width: 48px;
  height: 48px;
  justify-content: center;

  &:hover {
    background-color: #eeeeee;
  }
}

.btn-container .btn-drop-down {
  width: 24px;
  height: 24px;
}

.pp {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
}

.btn-container .btn {
  width: 14px;
  padding: 5px;
}

.btn-container .btn-search-mobile {
  display: none;
}

@media (max-width: 849px) {
  .menu {
    .create,
    .home {
      display: none;
    }

    .menu-mobile-box {
      display: block;
      position: relative;
      padding: 15px 15px;
      text-align: center;

      &::after {
        position: absolute;
        content: url("../images/dropdown-black.svg");
        color: #111111;
        font-size: 12px;
        right: 10px;
        top: 18px;
        pointer-events: none;
        box-sizing: border-box;
      }
    }

    .menu-mobile-box__select {
      padding-right: 20px;
      border: none;
      font-size: 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      font-weight: 500;
    }
  }
}

@media (max-width: 660px) {
  .search-bar {
    display: none;
  }
  .btn-container {
    justify-content: flex-end;
    flex-grow: 1;
  }
  .btn-container .btn-search-mobile {
    display: block;
  }
  .menu .logo .logo__wrap {
    padding: 0;
    margin-right: 10px;
  }
  .menu .menu-mobile-box {
    padding: 0;
  }
  .menu .menu-mobile-box:after {
    top: 4px;
    right: 0;
  }
  .btn-container button {
    width: 36px;
    height: 36px;
  }
}
